 <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Categorias
        <%=link_to new_backoffice_category_path do%> <i class="fas fa-plus float-right"></i><% end %></h6>
    </div>
  <div class="card-body">
    <% if notice %>
    <div class="card mb-4 py-3 border-left-success">
      <div class="card-body">
        <%= notice %>
      </div>
    </div>
    <% end %>
    
    <div class="responsive-table">
    <table class="table table-striped table-bordered table-hover" id="data-table">
        <thead>
          <tr>  
            <th>#</th>
            <th colspan=2>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%=category.id%></td>
              <td>
                <%=category.description%>
                <span class="float-right">
                  <%= link_to edit_backoffice_category_path(category) do %> <i class="far fa-edit"></i><% end %>
                  <%= link_to "#" do %> <i class="far fa-trash-alt"></i><% end %>
                </span>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>