 <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        <%=@admins.model_name.human %>
        <% if policy(@admins).new? %>
          <%=link_to new_backoffice_admin_path do%> <i class="fas fa-plus float-right"></i><% end %></h6>
        <% end %>
    </div>
  <div class="card-body">
    <div class="responsive-table">
    <table class="table table-striped table-bordered table-hover" id="data-table">
        <thead>
          <tr>  
            <th>#</th>
            <th><%=@admins.model.human_attribute_name(:name)%></th>
            <th><%=@admins.model.human_attribute_name(:role)%></th>
            <th><%=@admins.model.human_attribute_name(:email)%></th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%=admin.id%></td>
              <td><%=admin.name%></td>
              <td><%=admin.role_i18n%></td>
              <td>
                <%=admin.email%>
                <span class="float-right">
                  <%= link_to edit_backoffice_admin_path(admin), class:"btn" do %> <i class="far fa-edit"></i><% end %>
                  <%= admin_remove admin do %> <i class="far fa-trash-alt"></i><% end %>
                </span>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>